@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:ital,wght@0,400;0,700;0,800;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

/* Set a off-white for the body bg on default light theme */
body[data-md-color-scheme="default"] {
  background: #fcfcfc;
}

/*move the header flush left against logo div*/
.md-header__title {
  margin-left: 0 !important;
}

/* Constrain the width of the main body area and give the footer some breating room */
.md-content__inner {
  max-width: 30rem;
  margin-bottom: 6rem;
}

/*===============*/
/*Typography*/
/*===============*/

/*set the default fonts*/
:root {
    --md-text-font:     "Barlow";
    --md-code-font:     "Space Mono";
    --md-header-font:   "Barlow Condensed";
}

.md-header__topic {
  font-family: var(--md-code-font);
  font-weight: 700;
  font-style: italic;
}

h1, h2, h3 {
 font-family: var(--md-header-font);
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 700;
}
  
.md-typeset h3, 
.md-typeset h4 {
  font-weight: 700;
  color:  var(--md-default-fg-color--light);
}

/*Body text links*/

.md-content__inner a {
  color: var(--md-accent-fg-color);
  transition-duration: 100ms;
}

.md-content__inner a:hover {
  text-decoration: underline;
}

/*lists */
.md-content__inner ul, 
.md-content__inner ol {
  line-height: 1.2;
  padding-left: 1.5rem;
}

/*resize tasklist check icons*/

.md-typeset .task-list-indicator:before {
  width: 1.1em;
  height: 1.1em;
  top: .1em;
}

/*Callouts*/

.admonition-title {
  font-family:  var(--md-header-font);
  font-weight: 700;
}

.admonition p {
  font-family:  var(--md-header-font);
}

/*Code blocks*/

.md-typeset pre >code {
  white-space : pre-wrap;
}

/*figures*/

.md-typeset figure {
  box-shadow: var(--md-shadow-z1);
  max-width: 94%;
  margin: 2.5rem auto 3rem auto;
  padding-bottom: .25rem;
  display: block;
  border-radius: .25rem;
  height: auto;
}

.md-typeset figcaption {
  font-family: var(--md-code-font);
  font-style:  normal;
  border-top: 1px solid var(--md-default-fg-color--lightest);
  padding-top: .5rem;
  font-size:  .6rem;
}

/*tables*/

th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue),25%,25%,1)
}

